[init]
    templatedir = ~/.git_templates/
    defaultBranch = main

[commit]
    template = ~/.gitconfig_commit_template

[include]
    path = ~/.gitconfig_private

[core]
    excludesfile = ~/.gitignore_global
    #editor = /usr/bin/vim
    editor = "/opt/homebrew/bin/emacsclient -nw -a \"\""
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    # side-by-side = true
    line-numbers = true
    decorations = true
    syntax-theme = Dracula

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    hunk-header-decoration-style = cyan box

[fetch]
    prune = true

[push]
    # default = simple

[pull]
    ff = only

[submodule]
    recurse = true

[color]
    ui = auto

[diff]
    compactionHeuristic = true

# https://git-scm.com/book/ja/v2/Git-%E3%81%AE%E3%81%95%E3%81%BE%E3%81%96%E3%81%BE%E3%81%AA%E3%83%84%E3%83%BC%E3%83%AB-Rerere
[rerere]
    enabled = true

[alias]
    co = checkout
    ci = commit --allow-empty
    br = branch
    st = status
    ss = status -s
    fe = fetch
    pu = pull
    reb = rebase --keep-empty
    cp = cherry-pick
    ame = commit --amend
    di = diff
    dd = diff --cached
    rv = remote -vv
    re = remote
    wo = worktree
    wt = worktree
    sub = submodule
    lo = log --graph --decorate --oneline

    # https://git-scm.com/book/ja/v1/Git-%E3%81%AE%E5%9F%BA%E6%9C%AC-%E3%82%B3%E3%83%9F%E3%83%83%E3%83%88%E5%B1%A5%E6%AD%B4%E3%81%AE%E9%96%B2%E8%A6%A7
    # http://qiita.com/peccul/items/90dd469e2f72babbc106
    ll = log --graph --date=iso --decorate=short --pretty=format:'%x09%Cgreen%h %Creset%cd %C(blue)<%cn> %C(magenta reverse)%d%Creset %s'
    lla = log --graph --all --date=iso --decorate=short --pretty=format:'%x09%C(green)%h %Creset%cd %C(blue)<%cn> %C(magenta reverse)%d%Creset %s'

    # open pull request
    # https://qiita.com/awakia/items/f14dc6310e469964a8f7
    showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...main | grep 'Merge pull request #' | head -n 1; }; f"
    openpr = "!f() { gh browse -- `git log --merges --oneline --reverse --ancestry-path $1...main | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%%'`; }; f"

    # Delete all merged branches (except for `main', `master', `develop')
    # http://qiita.com/kyanny/items/10a57a4f1d2806e3a3b8
    delete-merged-branches = !git branch --merged | grep -vE '^\\*|main$|master$|develop$' | xargs -I % git branch -d %

    # History change/delete
    # -> http://qiita.com/muran001/items/dea2bbbaea1260098051
    # -> http://qiita.com/go_astrayer/items/6e39d3ab16ae8094496c


# Use Emacs Ediff for merge tool
# -> https://stackoverflow.com/questions/1817370/using-ediff-as-git-mergetool
[mergetool "ediff"]
    #trustExitCode = true
    cmd = emacsclient -nw -a \"\" --eval \"\
(progn\
  (defun ediff-write-merge-buffer ()\
    (let ((file ediff-merge-store-file))\
      (set-buffer ediff-buffer-C)\
      (when (y-or-n-p (format \\\"Save buffer? : %s\\\" file))\
        (write-region (point-min) (point-max) file)\
        (message \\\"Merge buffer saved in: %s\\\" file))\
      (set-buffer-modified-p nil)\
      (kill-buffer ediff-buffer-C)\
      (sit-for 1)))\
  (setq ediff-quit-hook 'save-buffers-kill-terminal\
        ediff-quit-merge-hook 'ediff-write-merge-buffer)\
  (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"\
                                   \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"

[mergetool "diffview"]
    cmd = nvim -f -c "DiffviewOpen"
    trustExitCode = true

[mergetool]
    prompt = false
    keepBackup = false

[merge]
    # tool = ediff
    tool = diffview
    conflictStyle = zdiff3

[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true

[ghq]
    root = ~/.ghq
    root = ~/.go/src
    root = ~/dev/src
    root = ~/workspaces

[advice]
    skippedCherryPicks = false
